<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot & Thymeleaf File Upload</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload File Example</h2>
                <!-- HTML5 Input Form Elements -->
                <input id="fileupload" type="file" name="fileupload" />
                <button id="upload-button" onclick="uploadFile()"> Upload </button>

            </div>
        </div>
    </div>
</section>

<!-- Ajax JavaScript File Upload to Spring Boot Logic -->
<script>

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }


    function uploadFile() {
        var fileValue = $("#fileupload").val().split("\\");
        var fileName = fileValue[fileValue.length-1];

        console.log("===> " + fileValue)
        console.log("===> " + fileName)

        var file = fileupload.files[0];

        getBase64(file).then(
            data => encoding64(data,fileName)
        );
    }

    function encoding64(data,fileName){
        console.log("1111111111111111111111111111111111");
        console.log(data);



        var formData = new FormData();
        formData.append("fileBase64", data);
        formData.append("filename", fileName);

        //var params = JSON.stringify(formData);
        var params = {"fileBase64":data,"filename":fileName}


        $.ajax({
            url: "/upload",
            type: "post",
            //data: JSON.stringify(formData),
            data: JSON.stringify(params),
            dataType:"json",
            contentType: 'application/json',
            async:false,
            success: function (data) {
                alert("File successfully uploaded.");
            }
        });
    }


/*
        let response = await fetch('/upload', {
            method: "POST",
            body: formData
        });

        if (response.status == 200) {
            alert("File successfully uploaded.");
        }

    }

 */
</script>


</body>
</html>
